.sn-character-header, .sn-location-header, .sn-ideas-header {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 50px;
    margin: 0;
}

.sn-location-header, .sn-ideas-header {
    background: none;
    border: none;
    font-family: 'Ubuntu';
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.sn-location-header:hover, .sn-character-header:hover, .sn-ideas-header:hover {
    cursor: pointer;
    background-color: #3d3d3d;
}
