.ctdash {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
    margin-top: 0px;
    position: fixed;
    width: 1200px;
    height: calc(100% - 120px);
    overflow-y: auto;
}

#box-dashboard-container {
    display: grid;
    align-self: center;
    grid-template-columns: 325px 325px 325px;
    grid-template-rows: 100px 300px 300px 300px 300px 200px;
    gap: 70px 73px;
    grid-template-areas: "dashheader dashheader dashheader" "dashwriter dashcharacters dashlocations" "dashideas dashresearch dashdeadline" "dashstatistics dashstatistics dashstatistics" "dashsummary dashsummary dashgoals" "dashfooter dashfooter dashfooter";
}

#dashheader {
    grid-area: dashheader;
    text-align: center;
    color: #00AE9D;
    font-size: 18px;
    margin-top: -10px;
}

#dashwriter {
    grid-area: dashwriter;
    background-image: url(../images/dashboard/dashwriter);
    background-repeat: no-repeat;
}

#dashcharacters {
    grid-area: dashcharacters;
    background-image: url(../images/dashboard/dashcharacter);
    background-repeat: no-repeat;
}

#dashlocations {
    grid-area: dashlocations;
    background-image: url(../images/dashboard/dashlocations);
    background-repeat: no-repeat;
}

#dashideas {
    grid-area: dashideas;
    background-image: url(../images/dashboard/dashideas);
    background-repeat: no-repeat;
}

#dashresearch {
    grid-area: dashresearch;
    background-image: url(../images/dashboard/dashresearch);
    background-repeat: no-repeat;
}

#dashdeadline {
    grid-area: dashdeadline;
    background-image: url(../images/dashboard/dashdeadline);
    background-repeat: no-repeat;
}

#dashfooter {
    grid-area: dashfooter;
}

.dash {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    color: #00AE9D;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
}

#dashstatistics {
    grid-area: dashstatistics;
    display: flex;
    position: relative;
    justify-content: space-between;
}

#dashword {
    padding-right: 50px;
}

#dashtime {
    padding-left: 50px;
}

#dashsummary {
    grid-area: dashsummary;
}

#dashsummary p {
    color: #484848;
    font-size: 18px;
}

#dashsummary h1 {
    color: #00AE9D;
}

#dashgoals {
    grid-area: dashgoals;
    background-color: #00AE9D;
    width: 100%;
    height: 325px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.50);
}

#dashgoals h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
    height: 55px;
}

#dashgoals container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

#dashgoals dashtitle, #dashgoals dashcontent {
    height: 50px;
    font-size: 18px;
    color: white;
}

#dashgoals dashcontent {    
    width: 100px;
    margin-right: 30px;
    text-align: right;
}

#dashgoals dashtitle {
    width: 150px;
    font-weight: bold;
    margin-left: 30px;
}

#dashgoals dash_dead2 {
    height: 20px;
}

#dashgoals .ct-details-edit {
    display: none;
    background-image: url('../images/general/edit.png');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: right;
    width: 300px;
    height: 40px;
}

#dashgoals container:hover .ct-details-edit {
    display: flex;
    cursor: pointer;
    margin-top: -25px;
}